<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Real Estate Example">
    <title>Real Estate</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <!-- NAVBAR SECTION -->

    <!-- CONTENT SECTION -->
    {% block content %}{% endblock %}

    <!-- FOOTER SECTION -->
    <section id="footer">
      <div class="footer">
        Real State Footer
      </div>
    </section>
  </body>
</html>
